body {
    background: black;
}

#arena {
    background-image: url("images/arena.jpeg");
    background-repeat: no-repeat;
    background-size: 100%;
    width: 100%;
    height: 100vh;
}

#player1 {
    background-image: url("images/ninja.png");
    background-repeat: no-repeat;
    z-index: 1;
    background-size: 100%;
    width: 200px;
    height: 300px;
    position: absolute;
    left: 25%;
    top: 65%;
}

#player2 {
    background-image: url("images/samurai.png");
    background-repeat: no-repeat;
    z-index: 1;
    background-size: 100%;
    width: 350px;
    height: 350px;
    position: absolute;
    right: 25%;
    top: 65%;
}
 
h1 {
    display: flex;
    justify-content: center;
    font-size: 100px;
    font-family: 'Courier New';
    font-style: italic;
    color: white;
}

p {
    display: flex;
    justify-content: center;
    color: white;
}

#p1Health {
    z-index: 1;
    border: 1px solid black;
    position: absolute;
    left: 25%;
    top: 50%;
}

#p2Health {
    z-index: 1;
    border: 1px solid black;
    position: absolute;
    right: 25%;
    top: 50%;
}

#buttons {
    display: flex;
    justify-content: center;
}

button {
    background: white;
    padding: 20px;
    margin: 5px;
}